<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quiz Preview</title>
  <!-- StyleSheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <!-- PARTIALS / HEADER -->
  <header>
    <nav class="navbar is-bold" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="<%= links.home %>">
          <span class="icon is-medium">
            <i class="fab fa-2x fa-github"></i>
          </span>
          <!-- <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28"> -->
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="<%= links.home %>" class="navbar-item">
            Home
          </a>


        </div>

      </div>
    </nav>

    <section class="hero is-primary is-medium is-bold">


      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-1">
            Quiz-App
          </h1>
          <h2 id="messageContainer" class="subtitle"></h2>
        </div>
      </div>

  </header>

  <main>
    <section class=" box section container-center">
      <div class="container">
        <h1 class="title">
          <%= quiz.title %>
        </h1>
        <p class="subtitle">
          <%= quiz.description %>
        </p>
        <p class="subtitle">
          <%= quiz.creator_id.username %>
        </p>
      </div>
      <div class="field margin-basic">
        <p class="control">
          <button id="attemptQuiz" class="button is-success">
            Attempt
          </button>
        </p>
      </div>
    </section>
  </main>
  <% include partials/footer %>
</body>
<script type="text/javascript">
  // QUIZ PREVIEW JAVASCRIPT
  let attemptQuiz = document.querySelector("attemptQuiz");

  attemptQuiz.addEventListener("click", () => {

  });
</script>

</html>