<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Profile</title>
  <!-- StyleSheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
  <!-- HEADER -->
  <header>
    <nav class="navbar is-bold" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="<%= links.home %>">
          <span class="icon is-medium">
            <i class="fab fa-2x fa-github"></i>
          </span>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="<%= links.home %>" class="navbar-item">
            Home
          </a>

          <a href="<%= links.about %>" class="navbar-item">
            About
          </a>



        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <button id="heroCreateQuiz" class="button is-light">
                Create A Quiz
              </button>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <section class="hero is-primary is-medium is-bold">

      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-1">
            Quiz-App
          </h1>
          <h2 id="messageContainer" class="subtitle"></h2>
        </div>
      </div>
    </section>
  </header>

  <main>
    <section class="section box container-center">
      <div class="container">
        <h1 class="title padding-bottom">
          Profile Page:
        </h1>
        <p class="subtitle">
          <%= user.username %>
        </p>
        <p class="subtitle padding-bottom">
          <%= user.email %>
        </p>
        <p class="title is-6">Your Quizzes: </p>
        <% user.quizzesCreated.forEach((quiz) => { %>
          <div class="container padding-bottom">
            <p class="title is-5 bold">
              
              <!-- <% if(quiz.isDeleted){ %>
                <a id="restoreQuiz" href="/quiz/restore/<%= quiz._id %>"><i class="fas icon-restore fa-redo-alt"></i></a>
              <% } else if(!quiz.isDeleted){ %>
                <a id="deleteQuiz" href="/quiz/delete/<%= quiz._id %>"></a><i class="fas icon-delete fa-trash-alt"></i></a>
              <% } %> -->
              
              <%= quiz.title %>
            </p>
            <p class="subtitle italics"><%= quiz.description %></p>
          </div>
        <% }) %>
      </div>
    </section>
  </main>
</body>
<!-- JS -->
<script type="text/javascript" src="/javascripts/userProfile.js"></script>

</html>