<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello <%= user.username %></title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>

  <!-- HEADER -->
  <header>
    <nav class="navbar is-bold" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="<%= links.home %>">
          <span class="icon is-medium">
            <i class="fab fa-2x fa-github"></i>
          </span>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a href="<%= links.home %>" class="navbar-item">
            Home
          </a>

          <a href="<%= links.about %>" class="navbar-item">
            About
          </a>
        </div>
      </div>
    </nav>

    <section class="hero is-primary is-medium is-bold">
      <!-- Hero content: will be in the middle -->
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-1">
            Quiz-App
          </h1>
          <h2 id="messageContainer" class="subtitle"></h2>
        </div>
      </div>
    </section>
  </header>

  <main class="container-center">
    <section class="section">
      <div class="container">
        <h1 class="title">
          Profile Page:
        </h1>
        <p class="subtitle">
          username: <%= user.username %>
        </p>
        <p class="subtitle">
          email: <%= user.email %>
        </p>
        <p class="subtitle">
          Average Score: <%= user.avgScore %>
        </p>
        <h2 class="title">Participations:</h2>
        <p class="subtitle">
          <% user.participations.forEach((quiz, index) => { %>
          <%= index: %>
          <%= quiz.quizAttempt %>
          <%= quiz.score %>
          <%= quiz.date %>
          <% }) %>
        </p>
        <h2 class="title">Creations:</h2>
        <p class="subtitle">
          <% user.quizzesCreated.forEach((quiz) => { %>
          <%= quiz.title %>
          <% }) %>
        </p>
      </div>
    </section>
  </main>
  <% include partials/footer %>
</body>
<script type="text/javascript">
  window.location = window.location.origin + "/users/me";
</script>

</html>